<main>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light"></h1>
      <p>
        <a href="/partidos-form" class="btn btn-primary">Crear nuevo Partido</a>
      </p>
    </div>
  </div>
</section>

<div>


    <div class="row">

        {{#each partidos as |partido|}}

          <div  class="col-md-3 mt-1">
          <div class="card">
             <img src="{{partido.LogoPartido}}" class="card-img-top" alt={{partido.Nombre}} />
            <div class="card-body">
              <h5 class="card-title"> Titulo: {{partido.Nombre}}</h5>
              <h6 class="card-subtitle"> Descripcion: {{partido.Descripcion}}</h6>
              <h6 class="card-subtitle">Estado: {{partido.Estado}}</h6>
              <a
                href="/edit-partidos/{{partido.Id}}?edit=true"
                class="btn btn-warning"
              >Editar</a>

              <form id="form-inline" action="/delete-partidos" method="post">
                <input type="hidden" name="partidosId" value="{{partido.Id}}" />
                <button type="submit" class="btn btn-danger">Eliminar</button>

              </form>
            </div>
          </div>
          </div>

        {{/each}}

    </div>
  </div>
</main>