<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
</head>

<body>
    <div class="d-flex justify-content-center align-self-center">
        <div class="card text-center" style="width: 18rem;">
            <img src="https://i1.sndcdn.com/avatars-000196113278-93p2dw-t500x500.jpg" class="card-img-top"
                alt="Fissure in Sandstone" />
            <div class="card-body">
                <h5 class="card-title">Ninguno</h5>
                <!--   <a href="#!" class="btn btn-primary">Votar</a> -->
                <form method="post" action="#">
                    <center> <button type="submit" id="insertarVotacion" class="btn btn-primary btn-lg">Votar</button>
                    </center>
                </form>
            </div>
        </div>

        {{#each candidatos}}
        <div class="card text-center" style="width: 18rem;">
            <img src={{ this.dataValues.FotoPerfil }} class="card-img-top" alt="Fissure in Sandstone" />
            <div class="card-body">
                <h5 class="card-title">{{ this.dataValues.Nombre }}</h5>
                <p class="card-text">{{ this.dataValues.PartidoPerteneciente }}</p>
                <p class="card-text">{{ this.dataValues.Puesto }}</p>
                <form method="post" action="#">
                    <center> <button type="submit" id="insertarVotacion" class="btn btn-primary btn-lg">Votar</button>
                    </center>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
        <a href="/votar" class="btn btn-primary">Volver </a>

</html>