<main>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Puestos</h1>
      <p>
        <a href="/puestos-form" class="btn btn-primary">Crear nuevo Puesto</a>
      </p>
    </div>
  </div>
</section>

<div>

    <div class="row">

        {{#each puestos as |puesto|}}

          <div  class="col-md-3 mt-1">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> Titulo: {{puesto.Nombre}}</h5>
              <h6 class="card-subtitle"> Descripcion: {{puesto.Descripcion}}</h6>
              <h6 class="card-subtitle">Estado: {{puesto.Estado}}</h6>
              <a
                href="/edit-puestos/{{puesto.Id}}?edit=true"
                class="btn btn-warning"
              >Editar</a>

              <form id="form-inline" class="form-inline" action="/delete-puestos" method="post">
                <input type="hidden" name="puestosId" value="{{puesto.Id}}" />
                <button type="submit" id="delete-puestos" class="btn btn-danger">Eliminar</button>

              </form>
            </div>
          </div>
          </div>

        {{/each}}

    </div>
  </div>


</main>