<div class="row">

  <div class="col-md-3"> </div>
  <div class="col-md-6">

    <div class="card">
      <div class="card-header bg-dark text-white">
        {{#if editMode}} Edicion{{else}}Creacion{{/if}} de puestos</div>
      <div class="card-body">

        <form method="POST" action="{{#if editMode}}/edit-puestos {{else}}/create-puestos{{/if}}">
          <!--{{#if editMode}}/edit-heroes {{else}}/createBook{{/if}} -->

          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="Nombre"
              value="{{#if editMode}}{{book.urlImage}}{{/if}}" required>
          </div>

          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion</label>
            <textarea name="Descripcion" class="form-control" id="descripcion" cols="60"
              rows="5"> {{#if editMode}}{{categoria.DescripcionCategoria}}{{/if}}</textarea>
          </div>

          <!-- estaba teniendo unos errores que no logré decifrar, metí esto manual -->
          <div class="mb-3">
            <label for="categoria" class="form-label">Categoria:</label>
            <select class="form-select" aria-label="Default select example" id="categoria" name="Categoria">
              <option disabled selected>{{book.CategoriaLibro}}</option>
              <option value="1">1</option>
              <option value="2">2</option>

            </select>
          </div>

          {{#if editMode}}
          <input type="hidden" name="bookId" value="{{book.idLibro}}">
          {{/if}}

          <button type="submit" class="btn btn-primary">{{#if editMode}}Editar{{else}}Crear{{/if}}</button>
          <a href="/libros" type="button" class="btn btn-warning">Volver atras</a>
        </form>


      </div>

    </div>
  </div>
</div>