<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"></h1>
        <p>
          <a href="/form-candidatos" class="btn btn-primary my-2">Crear nuevo Candidato</a>
        </p>
      </div>
    </div>
  </section>

  <div class="row">

    {{#each candidatosList as |candidato|}}

    <div class="card" style="width: 18rem;">
      <img src="{{candidato.FotoPerfil}}" class="card-img-top" alt="sdffsd">

      <div class="card-body">
        <h5 class="card-title">Nombre:{{candidato.Nombre}}</h5>
        <h5 class="card-text">Apellido: {{candidato.Apellido}} </h5>
        <h5 class="card-text">Partido: {{candidato.PartidoPerteneciente}} </h5>
        <h5 class="card-text">Puesto: {{candidato.Puesto}}</h5>
        <h5 class="card-text">Estado: {{candidato.Estado}}</h5>
      </div>
      <a href="/edit-candidatos/{{candidato.Id}}?edit=true" 
      class="btn btn-success"
      >Editar</a>

      <form class="form-inline" action="/delete-candidatos" method="POST">
        <input type="hidden" name="candidatosId" value="{{candidato.Id}}" />
        <button type="submit" href="delete-candidatos" class="btn btn-danger ">Eliminar</button>
      </form>
    </div>
    {{/each}}
  </div>

</main>