<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Puestos</title>
  <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" />
</head>

<body>

  <div class="container">

    <main>

      <div class="card">
        <div class="card-header bg-dark text-white">
          {{#if editMode}} Edicion{{else}}Creacion{{/if}} de Candidatos</div>
      </div>
      <div class="card-body">

        <form method="POST" action="{{#if editMode}}/edit-candidatos{{else}}/create-candidatos{{/if}}">


          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="Nombre"
              value="{{#if editMode}}{{candidato.Nombre}}{{/if}}" required>
          </div>

          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="Apellido"
              value="{{#if editMode}}{{candidato.Apellido}}{{/if}}" required>
          </div>

          <div class="mb-3">
            <label for="fotoPerfil" class="form-label">Foto:</label>
            <input type="text" class="form-control" id="fotoPerfil" name="FotoPerfil"
              value="{{#if editMode}}{{candidato.FotoPerfil}}{{/if}}" required>
          </div>

          <div class="mb-3">
            <label for="partidoPerteneciente" class="form-label">Partido: </label>
            <select class="form-select" id="partidoPerteneciente" name="PartidoPerteneciente" required>
              <option selected>{{#if editMode}}{{candidato.PartidoPerteneciente}}{{/if}}</option>

              <option value="PLD">PLD</option>

              <option value="PRM">PRM</option>

              <option value="PRSC">PRSC</option>

              <option value="PRI">PRI</option>

            </select>
          </div>

          <div class="mb-3">
            <label for="puesto" class="form-label">Puesto: </label>
            <select class="form-select" id="puesto" name="Puesto">
              <option selected>{{#if editMode}}{{candidato.Puesto}}{{/if}}</option>
              <option value="Presidente">Presidente</option>
              <option value="Vicepresidente">Vicepresidente</option>
              <option value="Alcalde">Alcalde</option>
              <option value="Diputado">Diputado</option>


            </select>
          </div>

          <div class="mb-3">
            <label for="estado" class="form-label">Estado: </label>
            <select class="form-select" id="estado" name="Estado">
              <option selected>{{#if editMode}}{{candidato.Estado}}{{/if}}</option>

              <option value="0">Activo</option>

              <option value="1">Inactivo</option>




            </select>
          </div>

          {{#if editMode}}
          <input type="hidden" name="candidatoId" value="{{candidato.Id}}">
          {{/if}}


          <button type="submit" class="btn btn-primary">{{#if editMode}}Editar{{else}}Crear{{/if}}</button>
          <a href="/candidatos" type="button" class="btn btn-primary">Back</a>
        </form>
      </div>
  </div>

  </main>

  </div>



</body>

</html>