<main>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Ciudadanos</h1>
      <p>
        <a href="/ciudadanos-form" class="btn btn-primary">Crear nuevo Ciudadano</a>
      </p>
    </div>
  </div>
</section>

<div>


    <div class="row">

        {{#each ciudadanos as |ciudadano|}}

          <div  class="col-md-3 mt-1">
          <div class="card">
            <div class="card-body">
               <h5 class="card-title"> Cedula: {{ciudadano.DocumentoIdentidad}}</h5>
              <h5 class="card-title"> Nombre: {{ciudadano.Nombre}}</h5>
              <h6 class="card-subtitle"> Apellido: {{ciudadano.Apellido}}</h6>
              <h6 class="card-subtitle"> Email: {{ciudadano.Email}}</h6>
              <h6 class="card-subtitle">Estado: {{ciudadano.Estado}}</h6>
              <a
                href="/edit-ciudadanos/{{ciudadano.DocumentoIdentidad}}?edit=true"
                class="btn btn-warning"
              >Editar</a>

              <form id="form-inline" action="/delete-ciudadanos" method="post">
                <input type="hidden" name="ciudadanosId" value="{{ciudadano.DocumentoIdentidad}}" />
                <button type="submit" class="btn btn-danger">Eliminar</button>

              </form>
            </div>
          </div>
          </div>

        {{/each}}

    </div>
  </div>
</main>